.calendar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.calendar-day{
    width: 215px;
    height: 300px;
    border-width:1;
    border-color: rgb(190,190,190);
    border-style: solid;

}

.day-number{
    text-align: center;
}


